<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @tweets.each do |tweet| %>
    <%= render partial: "tweets/_tweet", locals: { tweet: tweet } %>  <%# tweet/_に関してはあってもなくてもエラーは出ないが、_が無い方が記述としては美しい。またlocalsの右側は上記each分のブロック変数、これを左の変数名に代入している。%>
  <% end %>
</div>